.services-section {
    background-color: #0a4b75;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5.5rem;
    padding-right: 4rem;
}

.services-content {
    width: 50%;
}

.services-alignment {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.services-tag-line {
    font-weight: 500;
    font-size: 1.25rem;
}

.services-section-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5.5rem;
    padding-right: 4rem;
}

.offerings-heading {
    font-weight: bold;
    font-size: 1.25rem;
}